html {
    font-family: Verdana, Geneva, sans-serif;
}

footer {
    font-size: .7em;
    margin-top: 50px;
}

.further-resources {
    font-size: .8em;
    margin-top: 50px;
}

.character-container {
    display: flex;
    flex-wrap: wrap;
}

.character-box {
    border: 1px solid black;
    width: 90px;
    height: 100px;
    margin: 0 15px 15px 0;
}

.question {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    page-break-inside: avoid;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 2em;
}

.answers {
    page-break-before: always;
}