html {
    font-family: Verdana, Geneva, sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

footer {
    font-size: .7em;
    margin-top: 50px;
}

.further-resources {
    font-size: .8em;
    margin-top: 50px;
}

.character-container {
    display: flex;
    flex-wrap: wrap;
}

.character-box {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 90px;
    height: 90px;
    margin: 0 15px 15px 0;
}

.character-box:last-child {
    margin: 0;
}

.question {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 90px;
}

.answer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    font-size: 2em;
    border-right: 1px solid black;
}

.answer:last-child {
    border-right: none;
}

.answers {
    page-break-before: always;
}